# Default ignored files
kotlin/shelf/
workspace.xml

kotlin/out/*
kotlin/lib/*
.DS_Store

kotlin/.gradle
kotlin/build/
kotlin/!gradle/wrapper/gradle-wrapper.jar
kotlin/!**/src/main/**/build/
kotlin/!**/src/test/**/build/

### IntelliJ IDEA ###
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/jarRepositories.xml
**/.idea/compiler.xml
**/.idea/libraries/
*.iws
*.iml
*.ipr
**/out/
**/!**/src/main/**/out/
**/!**/src/test/**/out/


### VS Code ###
kotlin/.vscode/

### Mac OS ###
kotlin/.DS_Store

### Rust
rust/target/**

go/server

.clj-kondo/
.lsp/

### Scala

project/target/
target/
.bsp/

### C

*.o
c/server

### C++

cpp/server

### Zig

zig/server
zig/main
zig/zig-out/
zig/zig-cache/

### Kotlin
kotlin/.idea/modules.xml
kotlin/.idea/workspace.xml
kotlin/.idea/jarRepositories.xml
kotlin/.idea/compiler.xml
kotlin/.idea/libraries/
kotlin/.idea/codeStyles/
kotlin/.idea/kotlinc.xml
kotlin/.idea/misc.xml
kotlin/.idea/vcs.xml
kotlin/*.iws
kotlin/*.iml
kotlin/*.ipr
kotlin/out/
kotlin/!**/src/main/**/out/
kotlin/!**/src/test/**/out/

### Java
java/tcp-server/.idea/vcs.xml
java/tcp-server/.idea/misc.xml
java/tcp-server/.idea/codeStyles/Project.xml
java/tcp-server/src/main/java/main/main/
java/Main.jar
java/main/