# Default ignored files
kotlin/shelf/
workspace.xml

kotlin/out/*
kotlin/lib/*
.DS_Store

kotlin/.gradle
kotlin/build/
kotlin/!gradle/wrapper/gradle-wrapper.jar
kotlin/!**/src/main/**/build/
kotlin/!**/src/test/**/build/

### IntelliJ IDEA ###
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/jarRepositories.xml
**/.idea/compiler.xml
**/.idea/libraries/
*.iws
*.iml
*.ipr
**/out/
**/!**/src/main/**/out/
**/!**/src/test/**/out/


### VS Code ###
kotlin/.vscode/

### Mac OS ###
kotlin/.DS_Store

### Rust
rust/target/**

go/server

.clj-kondo/
.lsp/

### Scala

project/target/
target/
.bsp/

### C

*.o
c/server

### Zig

zig/server
