# Default ignored files
kotlin/shelf/
workspace.xml

kotlin/out/*
kotlin/lib/*
.DS_Store

kotlin/.gradle
kotlin/build/
kotlin/!gradle/wrapper/gradle-wrapper.jar
kotlin/!**/src/main/**/build/
kotlin/!**/src/test/**/build/

### IntelliJ IDEA ###
kotlin/.idea/modules.xml
kotlin/.idea/workspace.xml
kotlin/.idea/jarRepositories.xml
kotlin/.idea/compiler.xml
kotlin/.idea/libraries/
*.iws
*.iml
*.ipr
kotlin/out/
kotlin/!**/src/main/**/out/
kotlin/!**/src/test/**/out/


### VS Code ###
kotlin/.vscode/

### Mac OS ###
kotlin/.DS_Store
